*:focus {
    outline: none;
}
html, body{
	
	height:100% !important;
	width: 100% !important;
	
}
.twistbtn {
	background: url("../img/button.png") no-repeat center top;
	z-index: 1;
    height: 100px;
	width: 100px;
	border: none;
	
	position: absolute;
	top: 61%;
	left: 55.9%;
	/*
	left: 145px;
	top: 140px;
	*/
	z-index:1;
	
}
#lijr{
	background: url("../img/lr.png");
	z-index:1;
	position:absolute;
	left: 50%;
	top: 50%;
/*	left: 67px;
	top: 67px;
*/
}
#desr{
	background: url("../img/dr.png");
	z-index:1;
	position:absolute;
	left: 59.3%;
	top: 50%;
/*	left:192px;
	top: 68px;
	*/
}
#dn{
	z-index:1;
	position:absolute;
	left: 59.3%;
	top: 69.5%;
	/*
	left: 192px;
	top:193px;
	*/
}
#ln{
	z-index:1;
	position:absolute;
	top: 69.5%;
	left: 50%;
	/*left: 67px;
	top: 193px;	
	*/
}

#crvena{
	/*left: 0 px;*/
	left: 50%;
	top: 50%;
	position:relative;
}

#zelena{
	position:absolute;
	left: 59.3%;
	top: 50%;
}
#zuta{
	position: absolute;
/*	top: 195px;*/
	top: 69.5%;
	left: 50%;
}

#plava{
	position:absolute;
	/*top: 195px;*/
	left: 59.3%;
	top: 69.5%;
}