@media screen and (max-width: 320px) and (max-height: 480px){
	header{
		height: auto !important;
	}
	
	#headerlogo{
		text-align: center;
		display: block;
		background: url("/icon.png");
		background-repeat: no-repeat;
		width: 72px;
		height: 72px;
		z-index: 1 !important;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-right: 45%; 

	}
	#menubtn{
		
		background: url("../img/menubtn.png") no-repeat center top;
		width: 24px;
		height: 24px;
		border: none;
		float: left;
		margin-top: 2%;
		margin-left: 2%;
	}
	.twistbtn {
		background: url("../img/button.png") no-repeat center top;
		z-index: 1;
	    height: 100px;
		width: 100px;
		border: none;
		position: absolute;
		left: 37% !important;
		top: 45%;
	}
	#lijr{
		background: url("../img/lr.png");
		z-index:1;
		position:absolute;
		left: 13.8% !important;
		top: 28% !important;
	}
	#desr{
	
		background: url("../img/dr.png");
		z-index:1;
		position:absolute;
		left: 52% !important;
		top: 28% !important;
		
	}
	#dn{
		background: url("../img/dn.png");
		z-index:1;
		position:absolute;
		left: 52% !important;
		top: 55% !important;
	}
	#ln{
		background: url("../img/ln.png");
		z-index:1;
		position:absolute;
		left: 13.8% !important;
		top: 55% !important;
	}

	#crvena{
		left: 19% !important;
		top: 30% !important;
		position: absolute;
		content: url("../img/crvena320.png") !important;
	}

	#zelena{
		position:absolute;
		left: 56% !important;
		top: 30% !important;
		content: url("../img/zelena320.png") !important;
	}
	#zuta{
		position: absolute;
		left: 19% !important;
		top: 56% !important;
		content: url("../img/zuta320.png") !important;
	}

	#plava{
		position:absolute;
		left: 56% !important;
		top: 56% !important;
		content: url("../img/plava320.png") !important;
	}
	#headerlogo{
		padding-left: 40%;
		padding-right: 40%; 
	}
}