@media screen and (min-device-width: 321px) and (max-device-width: 600px) and (max-device-height: 800px){

	nav{
		float: left;
		position: relative;
		margin-left: 0px;
	}
	nav ul{
		
		padding-left: 0px;
		margin-left: 0px;
		width: 100%;
	}
	nav ul li{
		width: 100%;
		display: none;
		outline: solid #ccc 1px;
		
	}
	ul li a{
		width: 100%;
		text-align: center;
		
	}
	ul li a:hover{

	}
	#lijr{
		background: url("../img/lr.png");
		z-index:1;
		position:absolute;
		left: 35% !important ;
		top: 35% !important;
	}
	#desr{
		background: url("../img/dr.png");
		z-index:1;
		position:absolute;
		left: 54% !important;
		top: 35% !important;
	}
	#dn{
		background: url("../img/dn.png");
		z-index:1;
		position:absolute;
		left: 54% !important;
		top: 51.5% !important;
	}
	#ln{
		background: url("../img/ln.png");
		z-index:1;
		position:absolute;
		left: 35% !important;
		top: 51.5% !important;
	}

	#crvena{
		left: 31% !important;
		top: 33% !important;
		position:absolute;
		content: url("../img/crvena.png");
	}

	#zelena{
		position:absolute;
		left: 56% !important;
		top: 33% !important;
		content: url("../img/zelena.png");
	}
	#zuta{
		position: absolute;
		left: 31% !important;
		top: 51.5% !important;
		content: url("../img/zuta.png");
	}

	#plava{
		position:absolute;
		left: 56% !important;
		top: 51.5% !important;
		content: url("../img/plava.png");
	}

	footer{
		padding-bottom: 0px;
	}
}