#divB {
    display: none;
}
#tablica1{
	padding-top: 50px;
}
#back{
	float: left;
	color: white;
	background-color: Transparent;
	border: white solid 1px;
	margin-right: 2px;
	margin-top: 50px;
	margin-left: 0px;
	display: inline-block;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-bottom: 2px;
	border-radius: 5px;	
}
#sidebar{
	background: url("../img/obrnuto.png");
	background-size: cover;
	padding: 0px;
	overflow:auto; //added
	-webkit-overflow-scrolling:touch; //added
	
}
.sideP{
	font-size: 17px;
	padding-left: 50px;
	padding-top: 38px;
}
#body {
	background: url("../img/info.jpg");
	background-size: cover;
	padding-left: 0px !important;
}
.slidingview_body{
	padding-left: 0px;
}
header{
	
	z-index: 1000;
}
table{
	margin-left: 25px;

}
input{
	margin-top: 5px;
	border-radius: 5px;
	height: 20px;
}
th{
	width: 100px;
	color: rgb(0, 255, 100);
}
th, #submitbtn, #indextext, #sidebar{
	font-family: Verdana, Geneva, sans-serif;
}
#submitbtn{
	color: white;
	font-size: 25px;
	margin-left: 38%;
	background-color: green;
	height: 80px;
	width: 110px;
	border-radius: 15px 70px;
	border: none;
	margin-top: 20px;
}
#submitbtn:active{
	background-color: #484848;
}
#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7{
	color: white;
	font-size: 14px;
	margin-left: 2px;
	background-color: #008B8B;
	height: 35px;
	width: 70px;
	border-radius: 5px;
	border: none;
	margin-top: 2px;
}
.ilogo{
	margin-top: 80px;
	margin-left: 35%;
	margin-bottom: 15px;
}
#indextext{
	margin-left: 0px;
	padding-left: 10px;
	margin-top: 50px;
	font-weight: bolder;
	letter-spacing: 5px;
}
footer{
	position: absolute;
	clear: both;
	height: 50px; /*auto - automatski dodjeljiva visinu ovisno o sadržaju i njegovoj visini*/
	width: 100% !important;
	left: 0px;
	bottom: 0px; 
	margin-bottom:0px;/*za 480height*/
	padding-bottom: 10px; /*dodati za 480px height*/
	background-color: #262E2E;
	background: url("../img/index.png");
}
small{
	text-align: center;
	color: #ccc;
	float: left;
	margin-top: 5px; /*udaljenost texta od vrha footera*/
	margin-bottom: 2px; /*udaljenost texta od dna*/
	margin-left: 30%; /*margin left i right pomiču text od rubova footera*/
	margin-right: 30%;
}
.logoinfo{

	padding-top: 35px;
	padding-left: 78px;
}
a{
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 5px;
	list-style: none;
}
nav{
	text-transform: uppercase;
	position: relative; /* da bi navigacija isla preko contenta */
	z-index: 1000; /* da bi navigacija isla preko contenta */
	background: rgba(0, 0, 0, 0.7);
	margin-top: 28px;
}
nav a{
	list-style: none;
	padding-left: 15px; /* odmak od lijevog ruba */
	margin-left: 0px;
	width: 100% !important;
	padding-bottom: 0px; /* da bude cijeli -li- clickable */
	padding-top: 0px; /* da bude cijeli -li- clickable */
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: grey solid 1px;
	color: #FFF;
	text-decoration: none;
	display: block;
	padding-bottom: 50.5px; /* podešavanje visine klikabilnog podrucja*/
	padding-top: 50.5px;    /* podešavanje visine klikabilnog podrucja*/
}

nav a:hover{
	background-color: rgba(255, 0 , 0, 0.5);
}
